* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #eee;
}

body {
  font: normal 14px sans-serif;
}

header {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding: 25px 40px;
  background-color: #3a56b7;
  overflow: hidden;
}

header h1 {
  float: left;
  font: normal 24px/1.5 "Open Sans", sans-serif;
  color: #fff;
}

header a {
  color: #fff;
  float: right;
  text-decoration: none;
  display: inline-block;
  padding: 13px 50px;
  border-radius: 3px;
  font: bold 14px/1 "Open Sans", sans-serif;
  text-transform: uppercase;
  background-color: #f05283;
}

#video-placeholder {
  position: relative;
  top: 0;
  left: 0;
  width: 1000px;
  height: 500px;
}

#controls {
  width: 100%;
}

#controls ul {
  list-style: none;
}

#controls pre {
  border: 6px solid #e7e9f3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#controls ul li {
  // margin: 40px;
}

#controls ul li code {
  padding: 24px;
  line-height: 1.45;
  font-size: 13px;
}

h2 {
  display: block;
  margin-bottom: 24px;
  font-size: 26px;
  color: #43495f;
}

h2 ~ * {
  margin-bottom: 24px;
}

h2 + pre {
  margin-top: 36px;
}

.thumbnail {
  cursor: pointer;
  margin: 0 10px 20px 0;
  border: 6px solid #fff;
  box-shadow: 0 1px 1px #ccc;
  width: 200px;
}
#controls div {
  float: left;

  padding: 10px;
}

#progress-bar {
  position: relative;
  width: 100%;
  height: 20px;
  cursor: pointer;
}

#controls i {
  color: #000;
  font-size: 82px;
  cursor: pointer;
}

#controls span {
  color: #000;
  font-size: 50px;
  cursor: pointer;
}

#volume-input {
  height: 32px;
  width: 45px;
}

#next,
#prev {
  display: block;
}

#controls,
#main {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: #fff77b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
}
